{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tailwindStylesheet": "app/globals.css",
  "tailwindFunctions": ["cn", "tv"],
  "importOrder": [
    "^type$",
    "^node:",
    "^(react|next|@next)/",
    "^(@?\\w)",
    "^\\.\\.(?!/?$)",
    "^\\./(?=.*/)(?!/?$)",
    "^\\.(?!/?$)",
    "^@/(.*)$",
    "^\\u0000",
    "^.+\\.module\\.(css|scss)$",
    "^.+\\.(css|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
